html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white;
  font-family: AvenirNextW1G;
  /*background: url("../img/bgbg.jpg") no-repeat top center*/
  /*height: 3819px*/ }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto.ttf); }

@font-face {
  font-family: AvenirNextW1G;
  src: url(../fonts/AvenirNextW1G-Regular_0.otf); }

@font-face {
  font-family: AvenirNextW1GM;
  src: url(../fonts/AvenirNextW1G-Medium.otf); }

@font-face {
  font-family: AvenirNextW1GD;
  src: url(../fonts/AvenirNextW1G-Demi.otf); }

@font-face {
  font-family: AvenirNextW1GB;
  src: url(../fonts/AvenirNextW1G-Bold_0.otf); }

@font-face {
  font-family: AvenirNextW1GL;
  src: url(../fonts/AvenirNextW1G-Light.otf); }

@font-face {
  font-family: AvenirNextW1GT;
  src: url(../fonts/AvenirNextW1G-Thin.otf); }

h1, h2, h3 {
  font-size: 40px; }

.wrapper {
  width: 100%;
  overflow: hidden; }

.top {
  height: 53px;
  width: 100%;
  background-color: #40518C;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.w900 {
  width: 900px;
  margin: auto; }

.top-social {
  width: 78px;
  float: left;
  margin-top: 7px; }
  .top-social a {
    float: left;
    margin-right: 6px; }
    .top-social a img:hover {
      opacity: 0.25; }

.top-slogan {
  width: 390px;
  border-left: 2px solid #72c8ff;
  border-right: 2px solid #72c8ff;
  float: left;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: AvenirNextW1GM;
  font-size: 13px;
  text-transform: uppercase;
  height: 19px;
  line-height: 1.5;
  margin-top: 7px;
  margin-left: 202px; }

.top-phones {
  float: right;
  color: white;
  font-family: AvenirNextW1GD;
  text-transform: uppercase;
  font-size: 13px;
  background: url("../img/top-phone-icon.png") no-repeat left center;
  padding-left: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 32px; }
  .top-phones span {
    font-family: AvenirNextW1GB;
    font-size: 15px; }

.content {
  width: 100%;
  background: #fff url("../img/bg.jpg") no-repeat top -30px center;
  padding-top: 1px;
  overflow: hidden; }

.logo {
  display: block;
  margin: auto;
  width: 692px;
  height: 150px;
  margin-top: 14px;
  margin-bottom: 35px; }

.white-block {
  height: 197px;
  background-color: #FFF;
  opacity: 0.4;
  margin-bottom: 42px; }

.main-content {
  width: 100%; }

.top-mnu {
  background-color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  padding: 32px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .top-mnu ul {
    display: block;
    text-align: center; }
  .top-mnu li {
    display: inline-block;
    margin-right: 25px;
    border-bottom: 2px solid;
    width: 114px;
    padding-bottom: 15px;
    vertical-align: top; }
    .top-mnu li:last-child {
      margin-right: 0; }
    .top-mnu li a {
      width: 114px;
      height: 47px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 60px;
      background-repeat: no-repeat;
      background-position: top 10px center;
      font-family: AvenirNextW1GB;
      font-size: 14px;
      line-height: 1.1;
      text-transform: uppercase;
      text-decoration: none; }
      .top-mnu li a span {
        text-align: center;
        display: block;
        width: 100%; }
    .top-mnu li > span {
      color: #62676f;
      font-size: 12px;
      line-height: 1.2;
      margin-top: 10px;
      display: block;
      font-family: AvenirNextW1GL; }
  .top-mnu .graf {
    border-color: #2b83bc; }
    .top-mnu .graf a {
      background-image: url("../img/graf.png");
      color: #2b83bc; }
      .top-mnu .graf a:hover {
        background-image: url("../img/graf-h.png");
        color: #FFF;
        background-color: #2b83bc; }
  .top-mnu .zayav {
    border-color: #5abb49; }
    .top-mnu .zayav a {
      background-image: url("../img/zayav.png");
      color: #5abb49; }
      .top-mnu .zayav a:hover {
        background-image: url("../img/zayav-h.png");
        color: #FFF;
        background-color: #5abb49; }
  .top-mnu .zaoch {
    border-color: #d48625; }
    .top-mnu .zaoch a {
      background-image: url("../img/zaoch.png");
      color: #d48625; }
      .top-mnu .zaoch a:hover {
        background-image: url("../img/zaoch-h.png");
        color: #FFF;
        background-color: #d48625; }
  .top-mnu .olimp {
    border-color: #f34d4a; }
    .top-mnu .olimp a {
      background-image: url("../img/olimp.png");
      color: #f34d4a; }
      .top-mnu .olimp a:hover {
        background-image: url("../img/olimp-h.png");
        color: #FFF;
        background-color: #f34d4a; }
  .top-mnu .onas {
    border-color: #62676f; }
    .top-mnu .onas a {
      background-image: url("../img/onas.png");
      color: #62676f; }
      .top-mnu .onas a:hover {
        background-image: url("../img/onas-h.png");
        color: #FFF;
        background-color: #62676f; }
  .top-mnu .gal {
    border-color: #cb366a; }
    .top-mnu .gal a {
      background-image: url("../img/gal.png");
      color: #cb366a; }
      .top-mnu .gal a:hover {
        background-image: url("../img/gal-h.png");
        color: #FFF;
        background-color: #cb366a; }

.festivals {
  background: url("../img/bg-fest.png") no-repeat top 143px center;
  padding-bottom: 135px; }

.w900.fest h3 {
  padding-top: 70px;
  background-color: rgba(255, 255, 255, 0.85); }

.main-content h3 {
  font-family: AvenirNextW1G;
  color: #62676f;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  font-weight: normal; }

.img-fest {
  display: block;
  overflow: hidden;
  width: 192px;
  height: 192px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 4px solid #eff4f7; }
  .img-fest:after {
    overflow: hidden;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 10;
    content: "";
    display: none; }

.text-mod.fest {
  overflow: hidden; }
  .text-mod.fest li {
    float: left;
    margin-right: 34px; }
    .text-mod.fest li:first-child .text-fest {
      background-color: #F34C49; }
    .text-mod.fest li:nth-child(2) .text-fest {
      background-color: #cb366a; }
    .text-mod.fest li:nth-child(3) .text-fest {
      background-color: #f7b40e; }
    .text-mod.fest li:nth-child(4) .text-fest {
      background-color: #5abb49; }
    .text-mod.fest li:last-child {
      margin-right: 0; }
  .text-mod.fest a {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 198px;
    height: 280px;
    position: relative; }
    .text-mod.fest a:hover .text-fest {
      color: #62676f; }
    .text-mod.fest a:hover .img-fest:after {
      display: block; }

.img-fest {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%; }
  .img-fest img {
    width: 100%;
    height: auto; }

.text-fest {
  font-family: AvenirNextW1GM;
  display: block;
  width: 100%;
  height: 175px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  padding-top: 103px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 23px;
  text-transform: uppercase;
  color: #FFF;
  padding-bottom: 25px; }
  .text-fest span {
    font-size: 16px;
    text-transform: none;
    font-family: AvenirNextW1G; }

.about-home {
  margin-bottom: 70px; }
  .about-home h3 {
    margin-bottom: 44px;
    text-align: center; }

.img-about {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px; }

.text-about {
  color: #282828;
  font-size: 18px;
  line-height: 1.1;
  font-weight: normal;
  font-family: AvenirNextW1GL; }
  .text-about p {
    margin-bottom: 10px; }
    .text-about p:last-child {
      margin-bottom: 0; }

.about-more, .all-photos, .all-nom, .more-reviews {
  color: #4495d1;
  font-size: 16px;
  text-align: right;
  float: right;
  display: block;
  font-family: AvenirNextW1GL;
  text-decoration: none;
  text-transform: lowercase; }

.best-photos {
  background: url("../img/best-bg.jpg") no-repeat top center;
  overflow: hidden;
  margin-bottom: 75px; }
  .best-photos h3 {
    margin-bottom: 106px; }
  .best-photos ul {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 15px;
    display: block;
    text-align: center; }
    .best-photos ul li {
      display: inline-block;
      margin: 0 6px; }
      .best-photos ul li a {
        border: 5px solid #eff4f7;
        overflow: hidden;
        width: 261px;
        height: 231px;
        display: block;
        font-size: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .best-photos ul li a img {
          width: 100%;
          height: auto; }
  .best-photos .text-mod {
    width: 900px;
    margin: auto;
    overflow: hidden; }
    .best-photos .text-mod .arr {
      margin: 0; }
      .best-photos .text-mod .arr a {
        width: 20px;
        height: 232px;
        border: none; }

.arrr {
  background: url("../img/arrr.png") no-repeat 0 0;
  float: right; }

.arrl {
  background: url("../img/arrl.png") no-repeat 0 0;
  float: left; }

.all-photos {
  margin-top: 89px; }

.polog {
  margin-bottom: 60px;
  overflow: hidden; }
  .polog li {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 0; }
    .polog li:nth-child(2n) {
      margin-right: 0; }
    .polog li a {
      width: 440px;
      height: 127px;
      display: block;
      padding: 20px 0 20px 30px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      color: #FFF;
      text-decoration: none;
      background-repeat: no-repeat;
      background-position: left 20px center;
      padding-left: 0; }
      .polog li a:hover .head-polog {
        background-color: #FFF; }
    .polog li:first-child a {
      background-color: #2b83bc; }
      .polog li:first-child a:hover .head-polog {
        color: #2b83bc; }
    .polog li:nth-child(2) a {
      background-color: #c94e75; }
      .polog li:nth-child(2) a:hover .head-polog {
        color: #c94e75; }
    .polog li:nth-child(3) a {
      background-color: #f7b40e; }
      .polog li:nth-child(3) a:hover .head-polog {
        color: #f7b40e; }
    .polog li:nth-child(4) a {
      background-color: #f45e5b; }
      .polog li:nth-child(4) a:hover .head-polog {
        color: #f45e5b; }
    .polog li:nth-child(5) a {
      background-color: #9da1a6; }
      .polog li:nth-child(5) a .img-polog {
        margin-top: -20px; }
      .polog li:nth-child(5) a:hover .head-polog {
        color: #9da1a6; }
    .polog li:nth-child(6) a {
      background-color: #8879aa; }
      .polog li:nth-child(6) a:hover .head-polog {
        color: #8879aa; }
    .polog li:nth-child(7) a {
      background-color: #5b0e73; }
      .polog li:nth-child(7) a:hover .head-polog {
        color: #5b0e73; }
      .polog li:nth-child(7) a .img-polog {
        margin-top: 10px; }
    .polog li:nth-child(8) a {
      background-color: #5abb49; }
      .polog li:nth-child(8) a:hover .head-polog {
        color: #5abb49; }

.head-polog {
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -10px;
  font-family: AvenirNextW1GD; }

.text-polog {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px;
  font-family: AvenirNextW1GL; }

.img-polog {
  float: left;
  width: 120px;
  text-align: center;
  height: 100%; }
  .img-polog img {
    text-align: center; }

.txt-polog {
  float: left;
  display: block;
  width: 320px; }

.polog h3 {
  width: 565px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px; }

.all-nom {
  text-transform: none; }

.more-reviews {
  font-size: 16px;
  text-transform: lowercase; }

.img-date-reviews {
  float: left;
  text-align: center; }

.reviews {
  margin-bottom: 70px; }
  .reviews h3 {
    margin-bottom: 40px; }
  .reviews li {
    overflow: hidden;
    width: 100%;
    padding: 23px 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid transparent; }
    .reviews li:hover {
      border: 1px solid rgba(68, 149, 209, 0.35); }
    .reviews li:nth-child(odd) {
      background-color: #F5F5F5; }

.img-reviews {
  display: block;
  width: 68px;
  height: 68px;
  background-color: #FFF;
  text-align: center;
  font-size: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ecebeb;
  margin: auto; }
  .img-reviews img {
    text-align: center;
    border: 5px solid #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.text-reviews {
  float: left;
  width: 735px;
  margin-left: 30px;
  height: 4px;
  font-size: 14px;
  font-family: AvenirNextW1GL; }
  .text-reviews h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: AvenirNextW1GL; }

.date-reviews {
  margin-top: 6px;
  font-size: 12px;
  display: block;
  text-align: center;
  font-family: AvenirNextW1GL; }

.support {
  margin-bottom: 55px; }
  .support h3 {
    margin-bottom: 30px; }
  .support .text-mod ul {
    padding: 0 35px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    text-align: center; }
    .support .text-mod ul li {
      display: inline-block;
      margin-right: 85px; }
      .support .text-mod ul li:nth-last-child(2) {
        margin-right: 0; }
      .support .text-mod ul li a {
        height: 99px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center; }
        .support .text-mod ul li a img {
          text-align: center;
          margin: auto; }
    .support .text-mod ul li.arr-r {
      float: right;
      width: 11px;
      background: url("../img/arr-r.png") no-repeat left center;
      margin: 0; }
    .support .text-mod ul li.arr-l {
      float: left;
      width: 11px;
      background: url("../img/arr-l.png") no-repeat left center;
      margin: 0; }

.bot-mnnu {
  width: 100%;
  background-color: #40518C;
  height: 53px;
  padding-top: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .bot-mnnu ul {
    display: block;
    text-align: center; }
  .bot-mnnu li {
    font-size: 18px;
    display: inline-block;
    padding: 0 5px; }
    .bot-mnnu li:last-child:after {
      display: none; }
    .bot-mnnu li:after {
      content: "|";
      padding-left: 10px;
      color: #72c8ff; }
    .bot-mnnu li a {
      color: #fff;
      text-decoration: none;
      font-family: AvenirNextW1GL; }
      .bot-mnnu li a:hover {
        color: #72c8ff;
        font-family: AvenirNextW1GL; }
  .bot-mnnu .active a {
    color: #72c8ff;
    font-family: AvenirNextW1GL; }

.footer {
  width: 100%;
  background-color: #FFF;
  overflow: hidden; }
  .footer .w900 {
    padding: 50px 20px 33px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden; }

.slogan-phones-mail-footer > div {
  float: left; }

.slogan-footer {
  color: #1d1d1d; }
  .slogan-footer p {
    font-size: 18px;
    font-family: AvenirNextW1GL; }
    .slogan-footer p span {
      font-family: AvenirNextW1GD;
      font-size: 20px;
      display: block;
      margin-bottom: 10px;
      text-transform: uppercase; }

.phones-footer {
  font-family: AvenirNextW1GL;
  color: #1d1d1d;
  font-size: 20px;
  padding-left: 43px;
  margin-left: 22px;
  min-height: 50px;
  background: url("../img/top-phone-icon.png") no-repeat left center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.mail-footer {
  font-size: 20px;
  padding-left: 40px;
  background: url("../img/footer-mail-icon.png") no-repeat left center;
  min-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
  float: right !important; }
  .mail-footer a {
    font-size: 20px;
    font-family: AvenirNextW1GL;
    color: #1d1d1d;
    text-decoration: none; }

.copy {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 55px;
  color: #282828;
  font-size: 14px;
  text-align: center;
  padding-top: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .copy p {
    text-align: center; }
  .copy .counter {
    position: absolute;
    right: 20px;
    bottom: 0; }

/*inner page*/
.left-right {
  overflow: hidden;
  margin-bottom: 30px; }

.left {
  width: 198px;
  float: left;
  overflow: hidden; }

.top-mnu.left-mnu {
  padding: 10px; }
  .top-mnu.left-mnu li {
    margin: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: none !important; }
    .top-mnu.left-mnu li:nth-child(2) a {
      background-position: left 11px center; }
    .top-mnu.left-mnu li:nth-child(3) a {
      background-position: left 7px center; }
    .top-mnu.left-mnu li:nth-child(4) a {
      background-position: left 10px center; }
    .top-mnu.left-mnu li:nth-child(5) a {
      background-position: left 12px center; }
  .top-mnu.left-mnu a {
    border-right: 2px solid;
    background-size: auto 30px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
    margin: 0;
    background-position: left 10px center;
    padding: 6px;
    padding-left: 60px; }
    .top-mnu.left-mnu a:hover {
      border-color: inherit; }
    .top-mnu.left-mnu a span {
      text-align: left; }

.right {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 680px;
  float: right;
  overflow: hidden; }

.component {
  padding: 25px;
  color: #282828;
  font-size: 16px;
  line-height: 1.2;
  font-family: AvenirNextW1GL; }
  .component p {
    margin-bottom: 7px; }
  .component h2 {
    color: #62676f;
    font-family: AvenirNextW1G;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px; }
  .component a {
    color: #4495d1;
    text-decoration: underline; }

.bread {
  padding: 12px 15px 0 15px;
  overflow: hidden; }
  .bread li {
    color: #62676f;
    font-family: AvenirNextW1GL;
    font-size: 14px;
    float: left; }
    .bread li:after {
      content: "/";
      margin-left: 5px;
      margin-right: 5px; }
    .bread li:last-child:after {
      display: none; }
    .bread li a {
      color: #62676f;
      font-family: AvenirNextW1GL;
      font-size: 14px;
      text-decoration: none; }
    .bread li span {
      color: #62676f;
      font-family: AvenirNextW1GL;
      font-size: 14px; }

.nom {
  overflow: hidden; }
  .nom ul li {
    float: left;
    margin-bottom: 4px; }
    .nom ul li a {
      line-height: 1.8;
      height: 27px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 307px;
      display: block;
      text-align: center;
      font-family: AvenirNextW1GD;
      color: #FFF;
      text-transform: uppercase;
      text-decoration: none;
      background-color: #9DA1A6; }
    .nom ul li:first-child a:hover {
      background-color: #2B83BC; }
    .nom ul li:nth-child(2) a:hover {
      background-color: #c94e75; }
    .nom ul li:nth-child(3) a:hover {
      background-color: #f7b40e; }
    .nom ul li:nth-child(4) a:hover {
      background-color: #f45e5b; }
    .nom ul li:nth-child(5) a:hover {
      background-color: #f45e5b; }
    .nom ul li:nth-child(6) a:hover {
      background-color: #f7b40e; }
    .nom ul li:nth-child(7) a:hover {
      background-color: #8879aa; }
    .nom ul li:nth-child(8) a:hover {
      background-color: #5b0e73; }
    .nom ul li:nth-child(9) a:hover {
      background-color: #5abb49; }
    .nom ul li:nth-child(10) a:hover {
      background-color: #2B83BC; }
    .nom ul li:nth-child(2n) {
      float: right; }

.grafic h3 {
  margin-bottom: 30px; }

.grafic table {
  width: 100%;
  text-align: center;
  border: 2px solid #2B83BC;
  border-collapse: collapse; }
  .grafic table td {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #B8C1C6; }
  .grafic table tr {
    border-collapse: collapse; }
  .grafic table thead td {
    padding: 24px 10px;
    background-color: #2B83BC;
    background: -webkit-gradient(linear, left bottom, left top, from(#4dabdd), to(#2B83BC));
    background: -webkit-linear-gradient(bottom, #4dabdd, #2B83BC);
    background: linear-gradient(to top, #4dabdd, #2B83BC);
    color: white;
    font-family: AvenirNextW1GM;
    font-size: 14px;
    text-transform: uppercase; }
  .grafic table tbody tr td {
    color: #62676f;
    font-family: AvenirNextW1GL;
    font-size: 14px;
    padding: 15px 10px; }
    .grafic table tbody tr td a {
      color: #62676f;
      font-family: AvenirNextW1GM;
      text-decoration: underline; }
      .grafic table tbody tr td a:hover {
        text-decoration: none; }
  .grafic table tbody tr:first-child td {
    background-color: #fff; }
  .grafic table tbody tr:nth-child(2n) {
    background-color: #eaf3f8; }
  .grafic table tbody tr .bottom-td {
    height: 16px;
    padding: 0;
    background-color: #2B83BC;
    font-family: AvenirNextW1GL;
    color: #FFF;
    font-size: 11px; }

/*end of inner page*/
/*input[type=submit]*/
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-mnu {
    display: none;
    float: right;
    min-width: 250px;
    text-align: right;
    background-color: #1C242C;
    width: auto;
    position: absolute;
    top: 55px;
    right: 15px;
    height: auto;
    z-index: 10;
    margin-top: 0; }
    .main-mnu ul {
      display: inline; }
    .main-mnu li {
      display: block;
      float: none;
      margin: 0; }
    .main-mnu a {
      display: block;
      color: #FFF;
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      padding: 10px;
      text-align: right; }
      .main-mnu a:hover {
        text-decoration: underline; }
    .main-mnu a:hover, .main-mnu li.active a {
      border: none; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 640px) {
  /**/ }

@media only screen and (max-width: 620px) {
  /**/ }

@media only screen and (max-width: 570px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
