html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

\:focus
  outline: 0

body
  line-height: 1
  color: black
  background: white
  font-family: Oranienbaum

ol, ul
  list-style: none

table
  border-collapse: separate
  border-spacing: 0

caption, th, td
  text-align: left
  font-weight: normal

blockquote
  &:before, &:after
    content: ""

q
  &:before, &:after
    content: ""

blockquote, q
  quotes: "" ""

li 
	list-style: none

ul 
	padding: 0
	margin: 0

@import _fonts

.wrapper 
  width: 100%
  overflow: hidden


.top 
  height: 53px
  width: 100%
  background-color: #40518C 
  padding-top: 10px  
  box-sizing: border-box

.w900
  width: 900px
  margin: auto

.top-social 
  width: 78px
  float: left
  margin-top: 7px
  a
    float: left
    margin-right: 6px
    img
      &:hover
        opacity: 0.25

.top-slogan 
  width: 390px
  border-left: 2px solid #72c8ff
  border-right: 2px solid #72c8ff
  float: left
  padding: 0 55px   
  box-sizing: border-box
  color: white;
  font-family: AvenirNextW1G;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  height: 19px
  line-height: 1.5
  margin-top: 7px
  margin-left: 202px

.top-phones 
  float: right
  color: white;
  font-family: AvenirNextW1G;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 300;
  background: url("../img/top-phone-icon.png") no-repeat left center
  padding-left: 45px  
  box-sizing: border-box  
  height: 32px
  span
    font-size: 15px;
    font-weight: 700;

.content
  width: 100%
  background: #fff url("../img/bg.jpg") no-repeat top -30px center
  padding-top: 1px
  overflow: hidden

.logo 
  display: block
  margin: auto
  width: 692px
  height: 150px
  margin-top: 14px
  margin-bottom: 42px

.white-block  
  height: 197px
  background-color: #FFF 
  opacity: 0.4  
  margin-bottom: 42px

.main-content
  width: 100%
  
.top-mnu
  background-color: #FFF 
  opacity: 0.85
  overflow: hidden
  padding: 32px 23px  
  box-sizing: border-box  



/*input[type=submit]*/




@import _media