html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

\:focus
  outline: 0

body
  line-height: 1
  color: black
  background: white
  font-family: AvenirNextW1G
  /*background: url("../img/bgbg.jpg") no-repeat top center*/
  /*height: 3819px*/

ol, ul
  list-style: none

table
  border-collapse: separate
  border-spacing: 0

caption, th, td
  text-align: left
  font-weight: normal

blockquote
  &:before, &:after
    content: ""

q
  &:before, &:after
    content: ""

blockquote, q
  quotes: "" ""

li 
	list-style: none

ul 
	padding: 0
	margin: 0

@import _fonts


h1, h2, h3
  font-size: 40px

.wrapper 
  width: 100%
  overflow: hidden

.top 
  height: 53px
  width: 100%
  background-color: #40518C 
  padding-top: 10px  
  box-sizing: border-box

.w900
  width: 900px
  margin: auto

.top-social 
  width: 78px
  float: left
  margin-top: 7px
  a
    float: left
    margin-right: 6px
    img
      &:hover
        opacity: 0.25

.top-slogan 
  width: 390px
  border-left: 2px solid #72c8ff
  border-right: 2px solid #72c8ff
  float: left
  padding: 0 50px   
  box-sizing: border-box
  color: white
  font-family: AvenirNextW1GM
  font-size: 13px
  text-transform: uppercase
  height: 19px
  line-height: 1.5
  margin-top: 7px
  margin-left: 202px

.top-phones 
  float: right
  color: white
  font-family: AvenirNextW1GD
  text-transform: uppercase
  font-size: 13px  
  background: url("../img/top-phone-icon.png") no-repeat left center
  padding-left: 45px  
  box-sizing: border-box  
  height: 32px
  span
    font-family: AvenirNextW1GB 
    font-size: 15px    

.content
  width: 100%
  background: #fff url("../img/bg.jpg") no-repeat top -30px center
  padding-top: 1px
  overflow: hidden

.logo 
  display: block
  margin: auto
  width: 692px
  height: 150px
  margin-top: 14px
  margin-bottom: 35px

.white-block  
  height: 197px
  background-color: #FFF 
  opacity: 0.4  
  margin-bottom: 42px

.main-content
  width: 100%
  
.top-mnu
  background-color: rgba(255,255,255,0.85)   
  overflow: hidden
  padding: 32px 23px  
  box-sizing: border-box 
  ul
    display: block
    text-align: center
  li
    display: inline-block
    margin-right: 25px
    border-bottom: 2px solid
    width: 114px
    padding-bottom: 15px
    vertical-align: top
    &:last-child
      margin-right: 0
    a
      width: 114px
      height: 47px
      display: flex
      align-items: center      
      padding-top: 60px
      background-repeat: no-repeat
      background-position: top 10px center 
      font-family: AvenirNextW1GB      
      font-size: 14px      
      line-height: 1.1
      text-transform: uppercase
      text-decoration: none        
      span
        text-align: center
        display: block
        width: 100%
    > span
        color: rgb(98, 103, 111)
        font-size: 12px
        line-height: 1.2
        margin-top: 10px
        display: block
        font-family: AvenirNextW1GL
  .graf
    border-color: #2b83bc
    a
      background-image: url("../img/graf.png") 
      color: #2b83bc        
      &:hover
        background-image: url("../img/graf-h.png") 
        color: #FFF 
        background-color: #2b83bc      

  .zayav
    border-color: rgb(90, 187, 73)
    a
      background-image: url("../img/zayav.png") 
      color: rgb(90, 187, 73)     
      &:hover
        background-image: url("../img/zayav-h.png") 
        color: #FFF 
        background-color: rgb(90, 187, 73)       
  .zaoch
    border-color: #d48625
    a
      background-image: url("../img/zaoch.png") 
      color: #d48625
      &:hover
        background-image: url("../img/zaoch-h.png") 
        color: #FFF 
        background-color: #d48625

  .olimp
    border-color: rgb(243, 77, 74)
    a
      background-image: url("../img/olimp.png") 
      color: rgb(243, 77, 74)
      &:hover
        background-image: url("../img/olimp-h.png") 
        color: #FFF 
        background-color: rgb(243, 77, 74)

  .onas
    border-color: rgb(98, 103, 111)
    a
      background-image: url("../img/onas.png") 
      color: rgb(98, 103, 111)
      &:hover
        background-image: url("../img/onas-h.png") 
        color: #FFF 
        background-color: rgb(98, 103, 111)

  .gal
    border-color: rgb(203, 54, 106)
    a
      background-image: url("../img/gal.png") 
      color: rgb(203, 54, 106)
      &:hover
        background-image: url("../img/gal-h.png") 
        color: #FFF 
        background-color: rgb(203, 54, 106)

.festivals
  background: url("../img/bg-fest.png") no-repeat top 143px center
  padding-bottom: 135px

.w900.fest  
  h3
    padding-top: 70px
    background-color: rgba(255,255,255,0.85) 
.main-content  
  h3    
    font-family: AvenirNextW1G 
    color: rgb(98, 103, 111)
    font-size: 40px
    text-align: center
    text-transform: uppercase
    margin-bottom: 80px
    font-weight: normal
    
.img-fest
  display: block
  overflow: hidden
  width: 192px
  height: 192px
  border-radius: 50%
  border: 4px solid #eff4f7
  &:after    
    overflow: hidden
    width: 200px
    height: 200px
    border-radius: 50%
    position: absolute    
    box-sizing: border-box
    top: 0
    left: 0
    background-color: #000
    opacity: 0.6
    z-index: 10
    content: ""   
    display: none

  
.text-mod.fest  
  overflow: hidden
  li
    float: left
    margin-right: 34px
    &:first-child
      .text-fest
        background-color: #F34C49
    &:nth-child(2)
      .text-fest
        background-color: #cb366a
    &:nth-child(3)
      .text-fest
        background-color: #f7b40e
    &:nth-child(4)
      .text-fest
        background-color: #5abb49

    &:last-child
      margin-right: 0
  a
    display: block
    box-sizing: border-box
    width: 198px
    height: 280px
    position: relative  
    &:hover
      .text-fest
        color: rgb(98, 103, 111)  
      .img-fest
        &:after
          display: block
    

.img-fest
  position: absolute
  top: 0
  left: 0
  z-index: 10
  width: 100%
  img
    width: 100%
    height: auto

.text-fest
  font-family: AvenirNextW1GM 
  display: block
  width: 100%  
  height: 175px
  position: absolute
  bottom: 0
  left: 0
  z-index: 1  
  text-align: center
  padding-top: 103px  
  box-sizing: border-box
  font-size: 23px
  text-transform: uppercase
  color: #FFF 
  padding-bottom: 25px  
  span
    font-size: 16px
    text-transform: none
    font-family: AvenirNextW1G

.about-home
  margin-bottom: 70px
  h3
    margin-bottom: 44px
    text-align: center

.img-about
  float: left
  margin-right: 20px
  margin-bottom: 10px

.text-about
  color: rgb(40, 40, 40)
  font-size: 18px
  line-height: 1.1
  font-weight: normal
  font-family: AvenirNextW1GL 
  p
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
.about-more    
  color: rgb(68, 149, 209)
  font-size: 16px
  text-align: right
  float: right
  display: block
  font-family: AvenirNextW1GL  
  text-decoration: none
  text-transform: lowercase

.best-photos  
  background: url("../img/best-bg.jpg") no-repeat top center  
  overflow: hidden
  margin-bottom: 75px
  h3
    margin-bottom: 106px
  ul
    width: 100%    
    box-sizing: border-box
    padding: 0 15px
    display: block
    text-align: center
    li
      display: inline-block
      margin: 0 6px
      a
        border: 5px solid #eff4f7 
        overflow: hidden
        width: 261px
        height: 231px
        display: block        
        font-size: 0        
        box-sizing: border-box
        img
          width: 100%
          height: auto
  .text-mod
    width: 900px
    margin: auto
    overflow: hidden

    .arr
      margin: 0      
      a
        width: 20px
        height: 232px
        border: none  
        
.arrr
  background: url("../img/arrr.png") no-repeat 0 0
  float: right

.arrl
  background: url("../img/arrl.png") no-repeat 0 0
  float: left

.all-photos
  @extend .about-more
  margin-top: 89px

.polog
  margin-bottom: 60px
  overflow: hidden
  ul    
  li
    float: left
    margin-right: 20px
    margin-bottom: 20px
    font-size: 0
    &:nth-child(2n)
      margin-right: 0
    a
      width: 440px
      height: 127px
      display: block
      padding: 20px 0 20px 30px      
      box-sizing: border-box
      color: #FFF      
      text-decoration: none       
      background-repeat: no-repeat 
      background-position: left 20px center
      padding-left: 0      
      &:hover
        .head-polog
          background-color: #FFF                                   
    &:first-child
      a
        background-color: #2b83bc        
        &:hover
          .head-polog
            color: #2b83bc
        
    &:nth-child(2)
      a
        background-color: #c94e75         
        &:hover
          .head-polog
            color: #c94e75         
    &:nth-child(3)
      a
        background-color: #f7b40e         
        &:hover
          .head-polog
            color: #f7b40e 
    &:nth-child(4)
      a
        background-color: #f45e5b        
        &:hover
          .head-polog
            color: #f45e5b
            
    &:nth-child(5)
      a
        background-color: #9da1a6
        .img-polog
          margin-top: -20px 
        &:hover
          .head-polog
            color: #9da1a6
                    
    &:nth-child(6)
      a
        background-color: #8879aa
        &:hover
          .head-polog
            color: #8879aa         
    &:nth-child(7)
      a
        background-color: #5b0e73 
        &:hover
          .head-polog
            color: #5b0e73 
        .img-polog      
          margin-top: 10px
    &:nth-child(8)
      a
        background-color: #5abb49       
        &:hover
          .head-polog
            color: #5abb49       
  
.head-polog
  font-size: 18px
  text-transform: uppercase
  display: block
  margin-bottom: 5px  
  padding: 10px  
  box-sizing: border-box
  margin-top: -10px
  font-family: AvenirNextW1GD 

.text-polog
  display: block
  font-size: 14px
  line-height: 1.2
  padding-left: 10px
  box-sizing: border-box
  padding-right: 20px
  font-family: AvenirNextW1GL

.img-polog
  float: left
  width: 120px
  text-align: center
  height: 100%
  img
    text-align: center

.txt-polog
  float: left
  display: block
  width: 320px

.polog
  h3
    width: 565px
    display: block
    margin-left: auto
    margin-right: auto
    margin-bottom: 35px


.all-nom  
  @extend .about-more
  text-transform: none

.more-reviews
  @extend .about-more
  font-size: 16px
  text-transform: lowercase

.img-date-reviews  
  float: left
  text-align: center

.reviews
  margin-bottom: 70px
  h3
    margin-bottom: 40px
  li
    overflow: hidden
    width: 100%
    padding: 23px 25px    
    box-sizing: border-box
    border: 1px solid transparent
    &:hover
     border: 1px solid rgba(68, 149, 209, 0.35)
    &:nth-child(odd)
      background-color: #F5F5F5       
    
.img-reviews
  display: block  
  width: 68px
  height: 68px
  background-color: #FFF  
  text-align: center
  font-size: 0  
  box-sizing: border-box 
  border: 1px solid #ecebeb  
  margin: auto
  img
    text-align: center  
    border: 5px solid #fff
    box-sizing: border-box  

.text-reviews
  float: left
  width: 735px
  margin-left: 30px
  height: 4px
  font-size: 14px
  font-family: AvenirNextW1GL
  h4
    font-size: 18px
    margin-bottom: 10px
    font-family: AvenirNextW1GL 

.date-reviews 
  margin-top: 6px
  font-size: 12px
  display: block
  text-align: center
  font-family: AvenirNextW1GL

.support  
  margin-bottom: 55px
  h3
    margin-bottom: 30px
  .text-mod
    ul
      padding: 0 35px
      box-sizing: border-box
      display: block
      text-align: center
      li
        display: inline-block
        margin-right: 85px
        &:nth-last-child(2)
          margin-right: 0
        a
          height: 99px                    
          display: flex
          align-items: center  
          text-align: center
          img
            text-align: center 
            margin: auto 
      li.arr-r
        float: right
        width: 11px
        background: url("../img/arr-r.png") no-repeat left center
        margin: 0
      li.arr-l
        float: left
        width: 11px
        background: url("../img/arr-l.png") no-repeat left center
        margin: 0

.bot-mnnu
  width: 100%
  background-color: #40518C 
  height: 53px
  padding-top: 19px  
  box-sizing: border-box
  ul
    display: block
    text-align: center
  li
    font-size: 18px
    display: inline-block
    padding: 0 5px
    &:last-child:after
      display: none    
    &:after
      content: "|" 
      padding-left: 10px
      color: rgb(114, 200, 255)
    a      
      color: #fff 
      text-decoration: none
      font-family: AvenirNextW1GL 
      &:hover
        color: rgb(114, 200, 255)
        font-family: AvenirNextW1GL
  .active
    a
      color: rgb(114, 200, 255)
      font-family: AvenirNextW1GL
      
.footer
  width: 100%
  background-color: #FFF 
  overflow: hidden
  .w900
    padding: 50px 20px 33px 20px
    box-sizing: border-box
    overflow: hidden

.slogan-phones-mail-footer
  > div
    float: left

.slogan-footer
  color: rgb(29, 29, 29)
  p
    font-size: 18px
    font-family: AvenirNextW1GL  
    span  
      font-family: AvenirNextW1GD
      font-size: 20px
      display: block
      margin-bottom: 10px
      text-transform: uppercase

.phones-footer
  font-family: AvenirNextW1GL 
  color: rgb(29, 29, 29)
  font-size: 20px
  padding-left: 43px
  margin-left: 22px
  min-height: 50px 
  background: url("../img/top-phone-icon.png") no-repeat left center
  display: flex  
  align-items: center

.mail-footer   
  font-size: 20px
  padding-left: 40px
  background: url("../img/footer-mail-icon.png") no-repeat left center
  min-height: 50px 
  box-sizing: border-box  
  padding-top: 10px  
  float: right !important
  a
    font-size: 20px
    font-family: AvenirNextW1GL
    color: rgb(29, 29, 29)
    text-decoration: none

.copy
  position: relative
  width: 100%
  overflow: hidden
  height: 55px  
  color: rgb(40, 40, 40)
  font-size: 14px
  text-align: center
  padding-top: 22px  
  box-sizing: border-box
  p
    text-align: center
  .counter
    position: absolute
    right: 20px
    bottom: 0


/*inner page*/

.left-right
  overflow: hidden
  margin-bottom: 30px

.left
  width: 198px
  float: left
  overflow: hidden

.top-mnu.left-mnu
  padding: 10px
  li
    margin: 0
    width: 100%
    padding: 0
    margin: 0
    margin-bottom: 10px
    border-bottom: none !important     
    ul
      text-align: left
      li
        margin: 0
        list-style: disc inside
        color: rgb(98, 103, 111)        
        font-size: 14px      
        box-sizing: border-box
        margin-bottom: 5px
        text-align: left
        padding-left: 58px
        display: block
      a
        text-align: left
        font-size: 14px
        display: inline
        background: none
        color: rgb(98, 103, 111)
        font-family: AvenirNextW1GL
        text-transform: none
        padding: 0 
        border: none
        &:hover
          background: none
          color: inherit 
          font-family: AvenirNextW1GD   
    &:nth-child(2)
      a
        background-position: left 11px center 
    &:nth-child(3)
      a
        background-position: left 7px center 
    &:nth-child(4)
      a
        background-position: left 10px center 
    &:nth-child(5)
      a
        background-position: left 12px center 
  a          
    border-right: 2px solid   
    background-size: auto 30px
    width: 100%    
    box-sizing: border-box
    text-align: left    
    margin: 0
    background-position: left 10px center 
    padding: 6px
    padding-left: 60px
    &:hover
      border-color: inherit 
    span
      text-align: left

.right
  background-color: rgba(255,255,255,0.8)   
  box-sizing: border-box
  width: 680px
  float: right
  overflow: hidden

.component
  padding: 25px
  color: rgb(40, 40, 40)
  font-size: 16px
  line-height: 1.2
  font-family: AvenirNextW1GL
  p
    margin-bottom: 7px
  h2
    color: rgb(98, 103, 111)
    font-family: AvenirNextW1G
    font-size: 40px
    font-weight: 400    
    text-transform: uppercase
    text-align: center
    margin-bottom: 20px
  a
    color: rgb(68, 149, 209)
    text-decoration: underline

.bread
  padding: 12px 15px 0 15px
  overflow: hidden
  li
    color: rgb(98, 103, 111)
    font-family: AvenirNextW1GL
    font-size: 14px
    float: left
    &:after
      content: "/" 
      margin-left: 5px
      margin-right: 5px
    &:last-child:after
      display: none
    a
      color: rgb(98, 103, 111)
      font-family: AvenirNextW1GL
      font-size: 14px
      text-decoration: none
    span
      color: rgb(98, 103, 111)
      font-family: AvenirNextW1GL
      font-size: 14px


.nom
  overflow: hidden
  ul    
    li
      float: left
      margin-bottom: 4px
      a
        line-height: 1.8
        height: 27px        
        box-sizing: border-box
        width: 307px
        display: block
        text-align: center
        font-family: AvenirNextW1GD
        color: #FFF 
        text-transform: uppercase
        text-decoration: none
        background-color: #9DA1A6
      &:first-child
        a:hover
          background-color: #2B83BC 
      &:nth-child(2)
        a:hover
          background-color: #c94e75
      &:nth-child(3)
        a:hover
          background-color: #f7b40e
      &:nth-child(4)
        a:hover
          background-color: #f45e5b
      &:nth-child(5)
        a:hover
          background-color: #f45e5b
      &:nth-child(6)
        a:hover
          background-color: #f7b40e
      &:nth-child(7)
        a:hover
          background-color: #8879aa
      &:nth-child(8)
        a:hover
          background-color: #5b0e73
      &:nth-child(9)
        a:hover
          background-color: #5abb49        
      &:nth-child(10)
        a:hover
          background-color: #2B83BC 
      &:nth-child(2n)      
        float: right              

.grafic
  h3
    margin-bottom: 30px
  table
    width: 100%
    text-align: center
    border: 2px solid #2B83BC 
    border-collapse: collapse
    td
      border-collapse: collapse
      text-align: center
      vertical-align: middle
      border: 1px solid #B8C1C6 
    tr
      border-collapse: collapse
    thead
      td
        padding: 24px 10px
        background-color: #2B83BC
        background: linear-gradient(to top, #4dabdd, #2B83BC) 
        color: white
        font-family: AvenirNextW1GM
        font-size: 14px          
        text-transform: uppercase
    tbody
      tr
        td
          color: rgb(98, 103, 111)
          font-family: AvenirNextW1GL
          font-size: 14px
          padding: 15px 10px
          a
            color: rgb(98, 103, 111)
            font-family: AvenirNextW1GM
            text-decoration: underline 
            &:hover
              text-decoration: none              
        &:first-child
          td
            background-color: #fff            
        &:nth-child(2n)
            background-color: #eaf3f8
        .bottom-td
          height: 16px
          padding: 0
          background-color: #2B83BC 
          font-family: AvenirNextW1GL
          color: #FFF 
          font-size: 11px


/*end of inner page*/



/*input[type=submit]*/
@import _media